<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="api/index.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeJsApi" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll"/>
          <action type="Rewrite" url="api/index.js"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
